.container{
    background-image: url(../../assets/Images/pexels-photo-1229861.webp);
    width: 100%;
    margin:auto;
    padding: 18px;
    color: aliceblue;
}
header img{
    
    float: left;
    width: 300px;
    
}
